aiohappyeyeballs==2.6.1
aiohttp==3.13.0
aiosignal==1.4.0
attrs==25.4.0
azure-core==1.36.0
botbuilder-core==4.17.0
botbuilder-schema==4.17.0
botframework-connector==4.17.0
botframework-streaming==4.17.0
certifi==2025.10.5
cffi==2.0.0
charset-normalizer==3.4.4
cryptography==46.0.3
frozenlist==1.8.0
idna==3.11
isodate==0.7.2
jsonpickle==1.4.2
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
msal==1.34.0
msrest==0.7.1
multidict==6.7.0
oauthlib==3.3.1
propcache==0.4.1
pycparser==2.23
PyJWT==2.10.1
referencing==0.37.0
requests==2.32.5
requests-oauthlib==2.0.0
rpds-py==0.28.0
typing_extensions==4.15.0
urllib3==2.5.0
yarl==1.22.0
